/* forgotpassword-page  */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;;
}
.main{
    height: 100vh;
    width:100%;
}
/* header  */
header{
display: flex;
justify-content: space-between;
align-items: center; 
height: 54px;   
}
/* left  */
.fb-logo{
    width: 150px;
}
/* right */
.right{
    display: flex;
    gap:7px;
    padding: 15px 28px 15px 0;
}
.right input{
    padding:10px;
    border-radius: 5px;
    border:1px solid #e5e7eacb;
    font-size: 15px;
    margin-right: 5px;
    outline: none;
}
.login-btn{
    background-color:#1B74E3 ;
    color:white;
    width:70px;
    font-size: 16px;
    font-weight: bold;
}
.right p{
    color:#286FDB;
    text-decoration:none;
    display:flex;
    align-items:center;
    font-size:15px;
}
.right p:hover{
    text-decoration:underline;
}
/* content  */
.content{
    background-color: #E9EBEE;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}
.inner{
    background-color: white;
    width:500px;
    border-radius:7px;
    box-shadow: 0 0 5px  #cfd1d1;
}
/* top  */
.top{
   display:flex;
   width:100%;
   margin-inline:auto;
   padding: 18px 0;
   font-size: 20px;
   font-weight: bold;
   border-bottom: 1px solid #EBECEE;
}
.top p{
    padding:0 16px;
}
.middle{
    display:flex;
    flex-direction: column;
    gap:17px;
    padding: 17px 0;
    border-bottom: 1px solid #EBECEE;
}
.middle input{
    padding:16px; 
    margin:0 16px;
    border-radius:5px;
    border:1px solid;
    font-size:16px;
    border:1px solid #EBECEE;
}
.middle input:focus{
    outline: 1px solid #EBECEE;
}
.middle p{
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    margin:0 16px;
    font-size: 17px;
}
.bottom{
    display:flex;
    justify-content: flex-end;
    padding: 17px 16PX;
    gap: 10px;
}
.cancel{
    background-color: #E4E6EB;
    padding: 5px 20px;
    height:35px;
    color:#4B4F56;
    border-radius:5px;
    text-decoration: none;
    font-weight:bold;
    border:none;
    font-size:15px;
}
.search{
    background-color: #286FDB;
    padding: 5px 20px;
    color:white;
    border-radius:5px;
    font-weight:bold;
    border:none;
    font-size:15px;
}
/* footer  */
footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 165px 10px 10px 0;
    line-height: 20px;
    font-size:15px;
    font-family: Helvetica, Arial, sans-serif;
    width:64%; 
    margin-inline:auto;
} 
footer a{
    text-decoration:none;
    color:#8A8D9F;
    font-size:12px;
    /* margin:0 10px 0 0; */
}
footer a:hover{
text-decoration:underline
}
.english{
    border-bottom: 1px solid #F0F2F5;
    margin: 0 0 7px 0;
    padding: 15px 0 8px 0;
    display:flex;
    gap:15px;
}
.signup{
    display:flex;
    flex-wrap:wrap;
    gap:18px;
    line-height: 1px;
    padding-top: 7px;
}
.meta{
    margin-top: 17px;
}
.meta a{
  font-size:11px;
}
/* forgot password page  */
@media(min-width:1053px){
footer{
    width:950px;
}
}
/* for header  */
@media(max-width:790px) and (min-width:769px){
    .right input {
        padding: 6px;
    }
}
/* for tablets  */
@media(max-width:768px) and (min-width:510px){
    .input, .right p{
        display: none;
    }
    .right{
        padding: 15px 7px 15px 0;
    }
    footer{
        width:87%;
    }
    .english{
        gap:10px;
    }
}
/* for mobile  */
@media(max-width:510px) and (min-width:280px){
    /* header  */
    .input, .right p{
        display: none;
    }
    .right{
        padding: 15px 7px 15px 0;
    }
    .right input {
        padding: 7px;
        font-size: 13px;
        width: 62px;
    }
    .fb-logo {
        width: 125px;
    }
    /* content  */
    .content{
        padding: 80px 10px;
    }
    .top p {
        font-size:17px;
        }
    .middle p{
        font-size: 13px;
    }
    .middle input {
        padding: 8px;
        font-size: 13px;
    }
    .cancel {
        padding: 5px 10px;
        font-size: 13px;
    }
    .search {
        padding: 5px 10px;
        font-size: 13px;
    }
    /* footer  */
    footer{
        width:87%;
        padding: 70px 10px 10px 0;
    }
    footer a{
        font-size:10px;
    }
    .english{
        flex-wrap:wrap;
        gap:10px;
    }
}   