@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* main-div  */
.main{
    background-color: #F0F2F5;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 700px;
    padding: 128px 0 0 0;
}
/* inner-div */
.inner-div {
 
    /* width: 1100px; */
    width:100%;
    display: flex;
    justify-content: space-around;
    margin: 0 20px 0 0;
    
}
/* right-div  */
.right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 5px 0 0;
}
/* form  */
.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 38px;
    border-bottom: 1px solid #DADDE1;
    padding:10px 0 0 0;
    padding-bottom: 10px;
    }
.right span{
    font-weight:bold;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;;
    font-size: 14px;
}
.right p{
font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
font-size: 14px;
}


/* login-div  */
.login-div {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 396px;
    padding: 0 10px 20px 10px;
    margin: 0 0 29px  0;
    border-radius: 8px;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 2px 2px 10px  #DADCDF;
}
.login-input{
    padding:15px;
    margin:5px;
    border-radius:5px;
    border:1px solid #EBECEE;
    font-size: 17px;
    width: 96%;
    margin-inline: auto;
    color:black;
    margin-bottom: 8px;
    font-family:Helvetica, Arial, sans-serif;
}
.login-input:focus {
    outline:1px solid #1B74E4;
}
.login-btn{
    padding: 13px;
    border-radius: 7px;
    background-color: #1877F2;
    text-decoration: none;
    color: white;
    border: none;
    font-size: 31px;
    font-weight: bold;
    border: 1px solid #EBECEE;
    font-size: 20px;
    width: 96%;
    margin-inline: auto;
    margin: 8px 0 5px 0;
}
.login-div a{
    text-align: center;
    justify-content: center;
    color:#1877F2;
    margin:30px 0 0 0;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.login-div a:hover{
   text-decoration:underline;
}
.login-div button {
    background-color: #42B72A;
    padding: 15px;
    color: white;
    width: 191px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 25px 0 0 0;
    font-size: 17px;
    font-weight: bold;
}
hr{
    width:100%;
    color:#ECEEF0;
    margin:15px 0 0 0;
}
/* left-div  */
.left{
    width: 514px;
    height: 240px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
}
.left p {
    font-family:Helvetica, Arial, sans-serif;
    font-size: 28px;
    margin: 0 0 0 23px
}
.fb-logo{
    width: 321px;
    margin-bottom: -8px;
    margin-left: -5px ;
;
}
/* footer  */
footer{
    display:flex;
    justify-content: center;
    height: 180px;
    /* width:100%; */
    /* margin-inline:auto; */
}
.footer{
    /* width: 1000px; */
    padding:10px;
    line-height: 20px;
    font-size:15px;
    font-family: Helvetica, Arial, sans-serif;
    /* width: 100%; */
    /* width:50%;
    margin-inline:auto; */
    
}
.footer a{
    text-decoration:none;
    color:#8A8D9F;
    font-size:12px;
    /* margin:0 10px 0 0; */
}
.footer a:hover{
text-decoration:underline
}
.english{
    border-bottom: 1px solid #F0F2F5;
    margin: 0 0 7px 0;
    padding: 15px 0 5px 0;
    display:flex;
    gap:15px;
}
.signup, .services, .terms{
    display:flex;
    gap:20px;
}
.meta{
    margin-top: 10px;
}
/* signUp-form */
#main{
    display:none

}
.signup-main{
    width:100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(255,255, 255, 0.6);
    font-family: "SFProText-Medium, Helvetica, Arial, sans-serif";
}
.signup-div{
width:400px;
background-color:white;
border-radius:5px;
box-shadow:1px 1px 2px grey;
position:absolute;
transform:translate(0,-50%);
top:50%;
}
.signup-text{
font-size:32px;
font-weight: bold;
border-bottom:1px solid #f2f3f598;
font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
display:flex;
justify-content: space-between;
padding: 15px 8px 10px 8px;
}
.form-div input{
background-color: #F5F6F7;
}
.text p {
    font-weight: normal;
    font-size: 15px;
    margin: 5px;
}
.name{
    display:flex;
    width: 95%;
    margin-inline:auto;
    gap:5px;
    padding:8px 0 8px 0;
    font-size: 15px;
}
.name input{
    padding: 13px;
    border-radius: 6px;
    width: 100%;
    border: 1px solid #e5e7eacb;
    font-size: 15px;
}
.email{
    display: flex;
    flex-direction: column;
    width:95%;
    margin-inline:auto;
    padding:8px 0 8px 0;
}
.email input{
    padding: 13px;
    border-radius: 6px;
    width: 100%;
    margin:0 0 10px 0;
    border: 1px solid #E5E7EA;
    font-size: 15px;

}
.date-of-birth{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-inline:auto;
    gap:5px;
    padding: 0 0 5px 0;
}
.date-options select{
    width:100%;
    height: 33px;
    border-radius:7px;
    border: 1px solid #e5e7eacb;
}
.date-options{
    display: flex;
    gap: 10px;
}
.date-title p{
    font-size:12px;
    color: #606770;
}
/* gender  */
.gender{
    display: flex;
    width: 95%;
    margin-inline:auto;
    flex-direction: column;
    gap:5px;
}

.gender-options{
    display:flex;
    gap: 10px;
    width:100%;
    margin-inline:auto;
}
.gender-options div{
    display:flex;
    border:1px solid black;
    border-radius:7px;
    padding:10px;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #e5e7eacb;
}
.gender-options input{
    margin:0;
    padding:0;
}
.gender-title p{
    font-size:12px;
    color: #606770;
}
/* custom  */
.custom-main{
    display:none;
}
.custom-class{
    display:flex;
    flex-direction: column;
    gap: 5px;
    margin-inline: auto;
    width: 94%;
    padding: 10px 0 0 0;
}
.custom-class select{
    padding:11px;
    border-radius:6px;
    font-size:15px;
    border: 1px solid #e5e7eacb;
}
.custom-class p{
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    color: #606770;
}
.custom-class input{
    padding:11px;
    border-radius:6px;
    border: 1px solid #e5e7eacb;
}
/* instruction  */
.instruction{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-inline:auto;
    width:94%;
    padding:10px 0 0 0;
}
.instruction p{
    font-family: Helvetica, Arial, sans-serif;
    font-size:11px;
    line-height: 15px;
}
.instruction a{
    text-decoration:none
}
.instruction a:hover{
    text-decoration:underline
}
/* signup-button  */
.sign-up-button{
    display:flex;
    justify-content: center;
    align-items:center;
    padding:15px;
}
.sign-up-button button {
    background-color: #00A400;
    padding: 9px;
    color: white;
    width: 191px;;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 17px;
    font-weight: bold;
}
/* mobile-view login form  */
/* main  */
.mob-main{
    font-family: "Droid Sans", Helvetica, sans-serif;
}
/* header  */
.mob-header{
    display: flex;
    background-color: #FFFBE2;
    height: 52px;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}
.mob-header i{
    font-size:25px;
}
.mob-facebook-logo{
    display: flex;
    justify-content: center;
    width:100%;
}
.mob-fb-logo{
    width:125px;
}
/* inner  */
.mob-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center
}
/* input  */
.mob-form{
    width:50%;
    margin-inline:auto;
    text-align: center;
    margin-bottom: 20px;
}
.mob-login-input{
    padding:15px;
    margin:5px;
    border-radius:5px;
    border:1px solid #EBECEE;
    font-size: 17px;
    width: 96%;
    margin-inline: auto;
    color:black;
    margin-bottom: 8px;
    font-family:Helvetica, Arial, sans-serif;
}
.mob-login-input:focus {
    outline:1px solid #1B74E4;
}
.mob-login-btn{
    padding: 13px;
    border-radius: 7px;
    background-color: #1877F2;
    text-decoration: none;
    color: white;
    border: none;
    font-size: 31px;
    font-weight: bold;
    border: 1px solid #EBECEE;
    font-size: 20px;
    width: 96%;
    margin-inline: auto;
    margin: 8px 0 5px 0;
}
/* fogot password  */
.mob-form a {
    text-align: center;
    justify-content: center;
    color: #1877F2;
    margin: 30px 0 0 0;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}
/* or  */
.or{
    display:flex;
    width:100%;
    justify-content: center;
}
.or hr{
    text-decoration: none;
    width:100%;
    margin-bottom: 20px;
}
/* create-button  */
.create-button{
    padding:10px;
    width:50%;
    background-color: white;
    border-radius:3px;
    border:1px solid #959697;
}
/* languages  */
.mob-lang{
    display: flex;
    justify-content: space-between;
    width:58%;
    margin-top: 66px;
}
.mob-lang a{
    font-size:12px;
    text-decoration:none;
    color:#90949C;
}
.mob-eng{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.mob-urdu{
    display:flex;
    flex-direction:column;
    align-items: center;
}
/* plus button  */
.plus{
    border:1px solid black;
    width: 82%;
    border-radius: 3px;
    text-align: center;
    border:1px solid #90949C;
}
.plus i{
    font-size:12px;
    color:#90949C;

}
/* mob footer  */
.mob-footer{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.mob-footer a{
    font-size:12px;
    text-decoration:none;
    color:#90949C;
}
.mob-meta{

}
@media(max-width:445px){
    .mob-form {
        width: 437px;
    }
}

/* mobile-view login form  */
@media(max-width:768px){
    .desktop{
        display: none;
    }
}
@media(min-width:769px){
    .mob-main{
        display: none;
    }
}
@media(min-width:1130px){
    .inner-div {
        width: 1100px;
    }
}