@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* main-div  */
.main{
    background-color: #F0F2F5;
    display: flex;
    justify-content: center;
    height: 700px;
    padding: 128px 26px 0 0;
    gap:70px;
    width:100%;
    margin: 0 20px 0 0;
}
/* right-div  */
.right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 5px 0 0;
}
/* form  */
.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 38px;
    border-bottom: 1px solid #DADDE1;
    padding:10px 0 0 0;
    padding-bottom: 10px;
    }
.right span{
    font-weight:bold;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;;
    font-size: 14px;
}
.right p{
font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
font-size: 14px;
}
/* login-div  */
.login-div {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 396px;
    padding: 0 10px 23px 10px;
    margin: 0 0 29px  0;
    border-radius: 8px;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 2px 2px 10px  #c0c3c8;
}
.login-input{
    padding:15px;
    margin:5px;
    border-radius:5px;
    border:1px solid #EBECEE;
    font-size: 17px;
    width: 96%;
    margin-inline: auto;
    color:black;
    margin-bottom: 8px;
    font-family:Helvetica, Arial, sans-serif;
}
.login-input:focus {
    outline:1px solid #1B74E4;
}
.login-btn{
    padding: 13px;
    border-radius: 7px;
    background-color: #1877F2;
    text-decoration: none;
    color: white;
    border: none;
    font-size: 31px;
    font-weight: bold;
    border: 1px solid #EBECEE;
    font-size: 20px;
    width: 96%;
    margin-inline: auto;
    margin: 8px 0 5px 0;
}
.login-div a{
    text-align: center;
    justify-content: center;
    color:#1877F2;
    margin:30px 0 0 0;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.login-div a:hover{
   text-decoration:underline;
}
.login-div button {
    background-color: #42B72A;
    padding: 14px;
    color: white;
    width: 191px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 25px 0 0 0;
    font-size: 17px;
    font-weight: bold;
}
hr{
    width:100%;
    color:#ECEEF0;
    margin:15px 0 0 0;
}
/* left-div  */
.left{
    width: 534px;
    padding: 47px 10px 0 0;
}
.left p {
    font-family:Helvetica, Arial, sans-serif;
    font-size: 28px;
    margin: 0 0 0 23px;
}
.fb-logo{
    width: 321px;
    margin-bottom: -13px;
    margin-left: -5px ;
}
/* footer  */
footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0 10px 0;
    line-height: 20px;
    font-size:15px;
    font-family: Helvetica, Arial, sans-serif;
    width:64%; 
    margin-inline:auto;
} 
footer a{
    text-decoration:none;
    color:#8A8D9F;
    font-size:12px;
    /* margin:0 10px 0 0; */
}
footer a:hover{
text-decoration:underline
}
.english{
    border-bottom: 1px solid #F0F2F5;
    margin: 0 0 7px 0;
    padding: 15px 0 8px 0;
    display:flex;
    gap:15px;
}
.signup{
    display:flex;
    flex-wrap:wrap;
    gap:18px;
    line-height: 1px;
    padding-top: 7px;
}
.meta{
    margin-top: 17px;
}
/* signUp-form **********************/
#main{
    display:none;
}
.signup-main{
    width:100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(255,255, 255, 0.6);
    font-family: "SFProText-Medium, Helvetica, Arial, sans-serif";
}
.signup-div{
width:430px;
background-color:white;
border-radius:5px;
box-shadow:0 0 5px  #c5c6c7;
position:absolute;
transform:translate(0,-50%);
top:50%;
}
.signup-text{
font-size:32px;
font-weight: bold;
border-bottom:1px solid #d2d3d5;
font-family: Helvetica, Arial, sans-serif;
display:flex;
justify-content: space-between;
padding: 15px 14px 16px 10px;
}
.text{
    text-align: center;
}
.signup-text i{
    font-size:23px;
    color:#606771;
}
/* form  */
.form-div{
    padding:10px 7px;
}
.form-div input{
background-color: #F5F6F7;
outline: none;
}
.text p {
    font-weight: normal;
    font-size: 15px;
    padding: 3px 0 0 4px;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    color:#6A6770;
}
.name{
    display:flex;
    width: 95%;
    margin-inline:auto;
    gap:13px;
    padding:8px 0 3px  0;
    font-size: 15px;
}
.name input{
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #d2d3d5;
    font-size: 15px;
}
.email{
    display: flex;
    flex-direction: column;
    width:95%;
    margin-inline:auto;
    padding:8px 0 0 0;
}
.email input{
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    margin:0 0 10px 0;
    border: 1px solid #d2d3d5;
    font-size: 15px;
}
.date-of-birth{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-inline:auto;
    gap:3px;
    padding: 5px 0 5px 0;
}
.date-options select{
    width:100%;
    height: 37px;
    border-radius:4px;
    border: 1px solid #d2d3d5;
    padding: 6px;
    font-size: 15px;
}
.date-options{
    display: flex;
    gap: 10px;
}
.date-title p{
    font-size:12px;
    color: #606770;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
}
/* gender  */
.gender{
    display: flex;
    width: 95%;
    margin-inline:auto;
    flex-direction: column;
    gap:5px;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    padding-top: 8px;
}
.gender-options{
    display:flex;
    gap: 10px;
    width:100%;
    margin-inline:auto;
    align-items: center;
    justify-content: center;
}
.gender-options div{
    display:flex;
    border:1px solid black;
    border-radius:4px;
    padding:8px;
    justify-content: space-between;
    width: 33%;
    border: 1px solid #d2d3d5;
    font-size: 15px;
}
.gender-options input{
    margin:0;
    padding:0;
}
.gender-title p{
    font-size:12px;
    color: #606770;
}
/* custom  */
.custom-main{
    display:none;
}
.custom-class{
    display:flex;
    flex-direction: column;
    gap: 5px;
    margin-inline: auto;
    width: 94%;
    padding: 10px 0 0 0;
}
.custom-class select{
    padding:11px;
    border-radius:6px;
    font-size:15px;
    border: 1px solid #e5e7eacb;
}
.custom-class p{
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    color: #606770;
}
.custom-class input{
    padding:11px;
    border-radius:6px;
    border: 1px solid #e5e7eacb;
}
/* instruction  */
.instruction{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-inline:auto;
    width:94%;
    padding:10px 0 0 0;
}
.instruction p{
    font-family: Helvetica, Arial, sans-serif;
    font-size:11px;
    line-height: 15px;
    color: #606770;
}
.instruction a{
    text-decoration:none
}
.instruction a:hover{
    text-decoration:underline
}
/* signup-button  */
.sign-up-button{
    display:flex;
    justify-content: center;
    align-items:center;
    padding:15px;
}
.sign-up-button button {
    background-color: #00A400;
    padding: 8px;
    color: white;
    width: 191px;;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 18px;
    font-weight: bold;
}
.sign-up-button button:hover{
    background-color:#6CA160;
    cursor: pointer;
}
/* mobile-view login form  ********************/
/* main  */

/* main child  */
.mob-outer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Droid Sans", Helvetica, sans-serif;
}
/* header  */
.mob-header{
    display: flex;
    background-color: #FFFBE2;
    height: 47px;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}
.mob-header i{
    font-size:25px;
}
.mob-header p{
    font-size: 14px;
    color:#3B5998;
}
.mob-facebook-logo{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 6px 0;
}
.mob-fb-logo{
    width:114px;
}
/* inner  */
.mob-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center
}
/* input  */
.mob-form{
    width:96%;
    margin-inline:auto;
    text-align: center;
    line-height: 30px;
}
.mob-login-input{
    padding: 14px;
    margin: 2px;
    border-radius:5px;
    border:1px solid #EBECEE;
    font-size: 14px;
    width: 96%;
    margin-inline: auto;
    color:black;
    margin-bottom: 4px;
    font-family:Helvetica, Arial, sans-serif;
    background-color: #F5F6F7;
}
.mob-login-input:focus {
    outline:1px solid #1B74E4;
}
.mob-login-btn{
    padding: 10px;
    border-radius: 5px;
    background-color: #1877F2;
    text-decoration: none;
    color: white;
    border: none;
    font-size: 31px;
    font-weight: bold;
    border: 1px solid #EBECEE;
    font-size: 17px;
    width: 96%;
    margin-inline: auto;
    margin: 6px 0 5px 0;
}
/* forgotten password  */
.mob-form a {
    text-align: center;
    justify-content: center;
    color: #1877F2;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding-top: 4px;
}
/* or  */
.or{
    display:flex;
    width:90%;
    justify-content: center;
    gap: 8px;
    align-items: center;
    font-size: 14px;
}
.or hr{
    text-decoration: none;
    width:100%;
    margin-bottom: 20px;
    border-top:1px solid #E5E7EA;
}
/* create-button  */
.button{
    width:80%;
    margin-inline:auto;
    display:flex;
    justify-content: center;
    align-items: center;
}
.button a{
    width:90%;
}
.create-button{
    padding:9px;
    width:100%;
    background-color: white;
    border-radius:3px;
    border:1px solid #E5E7EA;
    font-size: 15px;
    margin-top: 5px;
}
.create-button a{
    text-decoration: none;
    font-size: 16px;
}
/* languages  */
.mob-lang{
    display: flex;
    justify-content: space-between;
    width: 82%;
    margin-top: 101px;
    margin-inline: auto;

}
.mob-lang a{
    font-size:12px;
    text-decoration:none;
    color:#90949C;
}
.mob-eng{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.mob-urdu{
    display:flex;
    flex-direction:column;
    align-items: center;
}
/* plus button  */
.plus{
    border:1px solid black;
    width: 82%;
    border-radius: 3px;
    text-align: center;
    border:1px solid #90949C;
}
.plus i{
    font-size:12px;
    color:#90949C;
}
/* mob footer  */
.mob-footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 29px 0;
}
.mob-footer a{
    font-size:12px;
    text-decoration:none;
    color:#90949C;
}
.about{
    padding-bottom:10px;
}
/* login-form for tablets ******************/
@media(max-width:1024px){

    .main{
        padding:0;
        margin:0;
        box-sizing:border-box;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:2px;
    }
    .fb-logo{
        width: 321px;
    }
footer{
    width:95%;
    margin-inline: auto;
    display:flex;
    flex-direction: column;
    padding:10px 0;

}
footer a{
    font-size:12px;
}
.english{
    margin-bottom:14px;
}
.signup{
    line-height: 8px;
}
.left{
    width: 368px;
    box-sizing:border-box;
    margin:0;
    padding:0 0 37px 10px;
    
}
.left p{
    font-size:22px;
    margin:0;
}
}
/* mobile-view login form  */
@media(max-width:767px){
    .desktop{
        display: none;
    }
}
@media(min-width:768px){
    .mob-main{
        display: none;
    }
}
@media(min-width:1130px){
    .inner-div,footer {
        width: 938px;
    }
}
@media(min-width:455px){
    .mob-inner{
        max-width:455px;
    }
}
/* login-form for galaxy fold 280px */
@media (max-width:280px){
    .mob-login-input{
        font-size: 14px;
    }
    .mob-login-btn {
        padding:8px;
        font-size: 17px;
    }
}

